<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Normal </string>
		<key>playlist_url</key>
		<string>https://s3-ap-south-1.amazonaws.com/apmediarawvideos/1595623333_tmpphpksfubt.MOV</string>
		<key>is_protected</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Advanced </string>
		<key>playlist_url</key>
		<string>https://s3-ap-south-1.amazonaws.com/apmediarawvideos/1595623333_tmpphpksfubt.MOV</string>
		<key>is_protected</key>
		<true/>
	</dict>
	<dict>
		<key>content_key_id_list</key>
		<array>
			<string>skd://asset-id</string>
		</array>
		<key>name</key>
		<string>desiplex FPS</string>
		<key>playlist_url</key>
		<string>https://s3-ap-south-1.amazonaws.com/apmediarawvideos/1595623333_tmpphpksfubt.MOV</string>
		<key>is_protected</key>
		<true/>
	</dict>
</array>
</plist>
